.home #wrapper-navbar, .services-template-default #wrapper-navbar, .post-template-default #wrapper-navbar { position: fixed!important; }
#wrapper-static-hero, #wrapper-static-content, #index-wrapper { padding: 0; }
/* Front Page Sections */
.section-heading { margin: auto; font-size: 2.5em; text-transform: uppercase; color: #556677; z-index: 1;}
.section-sub-heading { margin: auto; margin-top: 10px; font-size: 1em; color: #9999aa; z-index:1;}
.section-heading-separator{ position:relative; margin: auto; height: 2px; width: 80px; background-color: #84B32B; margin-bottom: 40px; margin-top: 30px; z-index: 1;}
a { color: #6a9515; }
a:hover { color: #f8f9fa; }
.site-footer { color: #f8f9fa; }
section { padding-top: 60px; padding-bottom: 100px;}
/* Bootstrap bg colors */
.bg-success { background-color: #85bf43!important; }
/* Bootstrap btns */
.btn-primary{background-color: #84B32B; border-color: #84B32B}
.btn-primary:hover{background-color: #6a9515; border-color: #6a9515;}
.btn-success{background-color: #3e7cb1; border-color: #3e7cb1;}
.btn-success:hover{background-color: #336691; border-color: #336691;}
.btn-outline-light { border-width: 2px; }
/* Text Alignment */
@media (min-width: 768px) {.text-bottom { position: absolute; bottom: 0; left: 0; }}
/* Header */
#wrapper-navbar { background-color: rgba(40,40,40,.9); }
@media (min-width: 1200px) {.navbar { max-width: 90%; margin: 0 auto; }}
.navbar-expand-md .navbar-nav {margin-left: auto;}
.navbar-brand {max-width: 75%;}
/* Hero Section */
.jumbotron {
    min-height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0!important;
}
@media (max-width: 768px) {
    .jumbotron{
        min-height: 325px;
    }
}
.hero-heading{ text-transform: uppercase;}
.hero-buttons .btn { margin: 10px; }
/* Main Callout Section */
#main-callout { padding: 20px 0; }
/* Main Content Section*/
.main-thumb{ max-width: 160px; margin: auto; }
/* Services Section */
#our-services-section{ background-color: #171A1F }
.service-icon img { margin: 20px 0 15px; }
.services-link { font-weight: bold; color: #556677}
.services-link:hover { text-decoration: none; color: #6a9515; }
/* Products Section */
#products-section { background: #eaeaea; }
@media (min-width: 1200px) { #products-section .container { max-width:960px; }}
/* Team Section */
#team-section { background-color: #171A1F; color: lightgray;}
#team-row { justify-content: space-around; }
.team-photo { max-width: 120px; height: 178px; margin: 20px auto; }
/* Testimonials Section */
.testimonial-wrapper{ background-color: #eaeaea; padding:40px 20px; }
.quote-separator { margin: 20px 0 20px; color: #84B32B; }
.testimonial-heading { color: #556677; }
.testimonial-content { color:#9999aa; }
/* Map Section */
#service-map-section { padding: 0px; height: 566px;}
/* Contact Section */
#contact-section { background: #eaeaea; }
#nf-form-2-cont{ width: 100%; }
#contact-address #bp-map-0{ display: none; }
#contact-us-page .bp-contact-page { display: none; }
/* site-line */
.single #site-line{
    top: 540px;
}
#site-line{
    background: none;
    position: absolute;
    width: 100%;
    height: 63%;
    left: 0;
    right: 0;
    top: 0;
    max-width: 1200px;
    margin: 0 auto;
    z-index: 10;
}
.single .site-line{
    width: 1px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #84B32B;
    height: 100%;
}
#site-line .site-line .thick-line{
    position: relative;
    top: 0;
    left: -8px;
    height: 248px;
    width: 17px;
    background-color: #84B32B;
}
.single .site-line .thick-line{
    height: 332px;
}
#breadcrumbs{
    list-style:none;
    margin:10px 0;
    overflow:hidden;
}
  
#breadcrumbs li{
    display:inline-block;
    vertical-align:middle;
    padding: 0;
}
  
#breadcrumbs .separator{
    font-size:18px;
    font-weight:100;
    color:#ccc;
}