#wrapper-static-hero, #wrapper-static-content, #primary { padding: 0; }
.section-heading { margin: 30px auto; }
a { color: #28a745; }
a:hover { color: #f8f9fa; }
.site-footer { color: #f8f9fa; }
section { margin: 20px 0; padding-bottom: 20px;}
/* Services Section */
.services-wrapper i { padding: 20px; }
/* Products Section */
#products-section { background: #f0f0f0; }
.product-wrapper { background: #f8f9fa; padding: 20px 15px; margin: 20px 0; border-radius: 4px; box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12) }
.product-wrapper div img { width: 150px; }
@media (min-width: 1200px) { #products-section .container { max-width:960px; }}


